@model IEnumerable<ERP.Web.Models.Database.CCTC_NHAN_VIEN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<link href="~/Areas/TruongAnDaNang/Content/css/HeThong/NguoidungTADN.css" rel="stylesheet" />
<script src="~/Content/download/angularjs/angular.min.js"></script>
<script src="~/Content/download/angularjs/dirPagination.js"></script>
<script src="~/Areas/TruongAnDaNang/Content/js/HeThong/NguoidungTADN.js"></script>
<div ng-app="nguoidungApp" ng-controller="nguoidungCtrl">
    <div class="content">

        <div id="quick-access">
            <form class="form-inline quick-search-form" role="form" action="#">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nhập từ khóa vào đây" ng-model="search_text">
                </div>
                <button type="submit" id="quick-search" class="btn btn-custom"><span class="glyphicon glyphicon-search custom-glyph-color"></span></button>
            </form>
        </div>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Thêm người dùng mới</button>

        <!-- Modal Thêm mới -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Thêm người dùng mới</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">ID: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="ID" class="form-control input-md" ng-model="id">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Username: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Username" class="form-control input-md" ng-model="username">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Password: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Password" class="form-control input-md" ng-model="password">
                                    </div>
                                </div> 
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Họ và tên: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Họ và tên" class="form-control input-md" ng-model="hovaten">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Số điện thoại: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Số điện thoại:" class="form-control input-md" ng-model="sdt">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Email: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Email" class="form-control input-md" ng-model="email">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Avatar: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Avatar" class="form-control input-md" ng-model="avatar">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Is Admin: </label>
                                    <div class="col-md-4">
                                        <input type="checkbox" ng-model="isadmin">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Allowed: </label>
                                    <div class="col-md-4">
                                        <input type="checkbox" ng-model="allowed">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Mã công ty: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Mã công ty" class="form-control input-md" ng-model="macongty">
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-8 addnew">
                                        <button id="addnew" name="addnew" class="btn btn-success" ng-click="add()" data-dismiss="modal">Thêm mới</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button id="exit" name="exit" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--end modal-->
        <!-- Modal Update -->
        <div class="modal fade" id="myEdit" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Cập nhật người dùng</legend>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Id: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Id" class="form-control input-md" ng-model="item.ID" ng-disabled="true">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Username: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Username" class="form-control input-md" ng-model="item.USERNAME">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Password </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Password" class="form-control input-md" ng-model="item.PASSWORD">
                                    </div>
                                </div>        
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Họ và tên: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Họ và tên" class="form-control input-md" ng-model="item.HO_VA_TEN">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Số điện thoại: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Số điện thoại" class="form-control input-md" ng-model="item.SDT">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Email: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Email" class="form-control input-md" ng-model="item.EMAIL">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Avatar: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Avatar" class="form-control input-md" ng-model="item.AVATAR">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Is admin: </label>
                                    <div class="col-md-4">
                                        <input type="checkbox"  ng-model="item.IS_ADMIN">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Allowed: </label>
                                    <div class="col-md-4">
                                        <input type="checkbox" ng-model="item.ALLOWED">
                                    </div>
                                </div>
                                <!-- Text input-->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="name">Mã công ty: </label>
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Mã công ty" class="form-control input-md" ng-model="item.MA_CONG_TY">
                                    </div>
                                </div>
                                <!-- Button (Double) -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="anmelden"></label>
                                    <div class="col-md-11 edit">
                                        <button class="btn btn-success" ng-click="save(item.ID)" data-dismiss="modal">Lưu</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-danger" data-dismiss="modal">Thoát</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->
        <!-- Modal delete -->
        <div class="modal fade" id="delete_item" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">

                    <div class="modal-body">
                        <form class="form-horizontal" name="myForm" novalidate>
                            <fieldset>
                                <!-- Form Name -->
                                <legend>Xóa người dùng</legend>
                                <center>Bạn có thực sự muốn xóa hàng <b>{{item.ID}}</b></center>
                                <p></p>

                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="delete"></label>
                                    <div class="col-md-8">
                                        <button id="delete" name="delete" class="btn btn-danger" ng-click="delete(item.ID)" data-dismiss="modal">Xóa</button>
                                        <button id="exit" name="exit" class="btn btn-success" data-dismiss="modal">Thoát</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <!--end modal-->

        <table id="example" class="table table-striped table-bordered" cellspacing="0" name="tblhanghoa">
            <thead>
                <tr>
                    <th></th>
                    <th>Họ và tên</th>
                    <th>Số điện thoại</th>
                    <th>Email</th>
                    <th>Mã công ty</th>
                    <th>Sửa</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate-start="item in nguoidung | itemsPerPage:3 | filter: search_text" class="hover" ng-class-odd="'odd'" ng-class-even="'even'">
                    <td>
                        <button class="expand" ng-if="item.expanded" ng-click="item.expanded = false"><i class="fa minus fa-minus-circle" aria-hidden="true"></i></button>
                        <button class="expand" type="button" ng-if="!item.expanded" ng-click="item.expanded = true" ng-><i class="fa plus fa-plus-circle" aria-hidden="true"></i></button>
                    </td>
                    <td>{{item.HO_VA_TEN}}</td>
                    <td>{{item.SDT}}</td>
                    <td>{{item.EMAIL}}</td>
                    <td>{{item.MA_CONG_TY}}</td>
                    <td>
                        <button class="btn btn-success btn-circle" ng-click="edit(item)" type="button" data-toggle="modal" data-target="#myEdit"><i class="glyphicon glyphicon-edit"></i></button>
                    </td>
                    <td>
                        <button class="btn btn-warning btn-circle" ng-click="edit(item)" type="button" data-toggle="modal" data-target="#delete_item"><i class="glyphicon glyphicon-remove"></i></button>
                        <!--<button class="btn btn-warning btn-circle" ng-click="delete(item.MA_KHO)"><i class="glyphicon glyphicon-remove"></i></button>-->
                    </td>
                </tr>
                <!--Detail row-->
                <tr ng-if="item.expanded" dir-paginate-end="">

                    <td colspan="9">
                        <div class="content">

                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#chitiet">Chi tiết nhân sự</a></li>
                                <li><a data-toggle="tab" href="#tonkho"></a></li>
                            </ul>

                            <div class="tab-content">
                                <!--Tab chi tiết hàng hóa-->
                                <div id="chitiet" class="tab-pane fade in active">
                                    <fieldset class="col-md-4 first">
                                        <legend>General</legend>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label padding" for="name">Email: </label>
                                            <div class="col-md-8">
                                                <input type="text" placeholder="Email" class="form-control input-md" ng-model="item.EMAIL" ng-disabled="true">
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label " for="name">Avatar: </label>
                                            <div class="col-md-8">
                                                <input type="text" placeholder="Avatar" class="form-control input-md" ng-model="item.AVATAR" ng-disabled="true">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label padding" for="name">Is Admin: </label>
                                            <div class="col-md-8">
                                                <input type="text" placeholder="Is Admin" class="form-control input-md" ng-model="item.IS_ADMIN" ng-disabled="true">
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label padding" for="name">Allowed: </label>
                                            <div class="col-md-8">
                                                <input type="text" placeholder="Allowed" class="form-control input-md" ng-model="item.ALLOWED" ng-disabled="true">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label padding" for="name">Mã công ty: </label>
                                            <div class="col-md-8">
                                                <input type="text" placeholder="Mã công ty" class="form-control input-md" ng-model="item.MA_CONG_TY" ng-disabled="true">
                                            </div>
                                        </div>
                                    </fieldset>

                                    <fieldset class="col-md-4 second">
                                        <legend>Thông tin thêm</legend>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="name">Model đặc biệt: </label>
                                            <div class="col-md-8">
                                                <input type="checkbox" ng-checked="item.MODEL_DAC_BIET==true" ng-model="item.MODEL_DAC_BIET" ng-disabled="true">
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div ng-repeat="x in nhanvien" class="form-group">
                                            <label class="col-md-4 control-label padding" for="name">Giới tính: </label>
                                            <div class="col-md-8">
                                                <input type="text"  placeholder="Giới tính" class="form-control input-md"  ng-model="x.GIOI_TINH" ng-disabled="true">
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label padding" for="name">Ngày sinh: </label>
                                            <div class="col-md-8">
                                                <input type="text" placeholder="Ngày sinh" class="form-control input-md dactinh" ng-model="x.NGAY_SINH" ng-disabled="true">
                                            </div>
                                        </div>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label padding" for="name">Quê quán: </label>
                                            <div class="col-md-8">
                                                <input type="text" placeholder="Quê quán" class="form-control input-md dactinh" ng-model="x.QUE_QUAN" ng-disabled="true">
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label padding" for="name">Trình độ học vấn: </label>
                                            <div class="col-md-8">
                                                <input type="text" placeholder="Trình độ học vấn" class="form-control input-md dactinh" ng-model="x.TRINH_DO_HOC_VAN" ng-disabled="true">
                                            </div>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label padding" for="name">Mã phòng ban: </label>
                                            <div class="col-md-8">
                                                <input type="text" placeholder="Mã phòng ban" class="form-control input-md dactinh" ng-model="x.MA_PHONG_BAN" ng-disabled="true">
                                            </div>
                                        </div>
                                </div>
                                <div id="tonkho" class="tab-pane fade">
                                    <h3>Menu 2</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls max-size="1" style="float:right;"
                                 direction-links="true"
                                 boundary-links="true">
        </dir-pagination-controls>
    </div>
</div>
<script src="~/Content/download/angularjs/angular-ui-router.js"></script>
